@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  background-image: url("Assets/imgs/W-edsLog.png");
  background-size: cover;
  background-repeat: no-repeat;

  width: 140px;
  height: 140px;

  color: transparent;

  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.logoScrolled {
  background-image: url("Assets/imgs/W-edsTxt.png");
  background-size: cover;
  background-repeat: no-repeat;

  width: 140px;
  height: 30px;
  position: relative;

  color: transparent;

  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
